.header-bar{
    background-color:#26272b;
    min-height: 50px;
    color: azure;
    padding: 10px;
}

.item :hover, item{
    color: azure;
    text-decoration: none;
}

a{
    font-size:large;
    
}